---
// Analytics component - configure your tracking ID
const gaId = import.meta.env.PUBLIC_GA_ID; // Add to .env file
const gtagId = import.meta.env.PUBLIC_GTAG_ID; // Add to .env file
---

{gaId && (
  <div>
    <!-- Google Analytics -->
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}></script>
    <script define:vars={{ gaId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', gaId);
    </script>
  </div>
)}

{gtagId && (
  <div>
    <!-- Google Tag Manager -->
    <script define:vars={{ gtagId }}>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer',gtagId);
    </script>
  </div>
)}

<!-- Add other analytics services here -->
